*{
	-webkit-touch-callout:none; 
	-webkit-user-select:none; 
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
input, textarea {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}
body {
	background-color: #f7f7f7;
}

.hiddenForm {
	display: none;
}

#Main {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: inherit;
	padding: 0 0 0 0;
}

#TitleBar,
#TitleBar2 {
	height: auto;
	background-color: #2E61BC;
	padding: 4px 4px 4px 4px;
	overflow: hidden;
}

#LogoBg_Topbar,
#LogoBg_Topbar2 {
	width: 100%;
	height: 60px;
	background: #2E61BC;
	text-align: center;
	overflow: hidden;
	line-height: 60px;
	font-size: 20px;
	color: #FFFFFF;
}

#Logo,
#Logo2 {
	height: 45px;
	width: 204px;
	margin: 7px auto 0;
	background: url('') no-repeat;
	background-position: center;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	cursor: pointer;
}

#LoginTab,
#LoginTab2 {
	width: 100%;
	height: 37px;
}

#TabTitle,
#TabTitle2 {
	width: 100%;
	height: 23px;
	border-color: Black;
	border-width: 1px;
	border-radius: 5px 5px 5px 5px;
	border-spacing: 1px;
}

#LoginTab .on,
#LoginTab2 .on {
	color: #2D63BD;
	background-color: #F3F3F3;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#InputBlock {
	width: 100%;
	height: auto;
}

#InputInfoTable {
	height: auto;
	padding: 0px 20px 0px;
}

#InputInfoTable table {
	width: 100%;
	height: 42px;
	border: none;
	border-collapse: collapse;
}

#AppDownloadInfo {
	width: 100%;
	height: auto;
}

#BusinessTool {
	width: auto;
	height: auto;
}

#BusinessTool Table {
	cursor: pointer;
	width: auto;
}

#BusinessTool Table td {
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: 0px;
	color: #00589F;
}

#BusinessTool Table td span {
	font-weight: 900;
	font-size: 20px;
}

#AppBanner {
	background: #FEFEFE;
	height: 25px;
	padding: 0px 2px 24px 2px;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}

#AppBanner a {
	display: block;
	width: 40px;
	height: 15px;
	background: #FF9300;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#AppBanner #CloseBtn {
	cursor: pointer;
}

#LoginBar {
	height: auto;
}

#LoginBtn {
	-webkit-appearance: none;
	-webkit-user-select: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	padding: 0 0 0 0;
	background-color: #48AE72;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

#LoginBtn2 {
	-webkit-appearance: none;
	-webkit-user-select: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	padding: 0 0 0 0;
	background-color: #1D76C7;
	border-radius: 0px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

#LoginBtn:hover {
	background-color: #48AE72;
	opacity: .8;
}

@media only screen and (min-width:480px) {
	.LoginBtn {
		width: 444px;
	}
}

#LoginBtn td,#LoginBtn2 td {
	height: auto;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 8px;
	color: White;
}

.HorizontalDiv {
	width: auto;
	height: 5px;
}

.InputLine {
	width: 100%;
	height: 36px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.InputButton {
	width: 60px;
	height: 30px;
}

.InputLine .left {
	height: 30px;
	width: 67px;
	font-size: 16px;
	color: #4f4f4f;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CDCDCD;
}

.InputLine .right {
	height: 28px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f7f7f7;
}

.InputLine .right_1 {
	padding-left: 10px;
	height: 30px;
	text-align: right;
	padding-top: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CDCDCD;
}

.AutoAlignLabel {
	width: 100%;
	height: auto;
	font: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
}

.AutoAlignLabel .BeginWord {
	text-align: left;
	font: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
}

.AutoAlignLabel .MidWord {
	text-align: center;
	font: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
}

.AutoAlignLabel .EndWord {
	text-align: right;
	font: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
}

.line5px {
	height: 5px;
}

.line60px {
	height: 60px;
}

.line10px {
	height: 10px;
}

.line0px {
	height: 0px;
}

.ocx_style {
	border: 1px solid #7F9DB9;
	width: 155px;
	height: 25px;
	margin-top: 5px;
	float: left;
}

.NoneInput90 {
	width: 65%;
	height: 28px;
	text-align: left;
	border: 1px solid #999999;
	background-color: #F3F3F3;
	font-size: 13px;
	color: #646464;
	font-family: Arial;
}

#IDTypeC {
	color: #2D63BD;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	-webkit-appearance: none;
	background: url('') no-repeat;
	background-position: right;
	background-size: auto 22px;
	-moz-background-size: auto 22px;
	-webkit-background-size: auto 22px;
	-o-background-size: auto 22px;
}

.OpenLink {
	height: 100px;
	text-align: center;
	overflow: hidden;
	line-height: 60px;
	font-size: 20px;
	font: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
}
.topText{
	font-size: 16px;
	color: #999;
	padding: 35px 0;
	text-align: center;
}
.kb1{
	width: 100%;
	height: 54px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	display: flex;
}
.kb1 li{
	flex: 1;
	border-right: 1px solid #D8D8D8;
}
.kb1 li:last-child{
	border-right:none
}
.kb1 li .yuan{
	width: 10px;
	height: 10px;
	background-color: #999;
	border-radius: 50%;
	display: block;
	margin: 20px auto;
}
.optionInput{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	border: none;
	opacity: 0;
	background-color: transparent;
	z-index: 222;
}
.missPassword{
	font-size: 14px;
	color: #48AE72;
	float: right;
	padding: 15px 0 50px;
}

/* 验证码弹框 */
.alertCode{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 999;
}
.centerbox{
	width: 300px;
	height: 230px;
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -115px;
}
.titletext{
	height: 40px;
	text-align: center;
	position: relative;
	line-height: 40px;
	font-size: 16px;
	color: #333;
}
.titletext .closeicon{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 12px;
	left: 15px;
	display: block;
}
.putcon{
	padding:8px 15px 15px;
}
.putcon p{
	font-size: 13px;
	color: #666;
}
.putcon .radiospan{
	width: 100%;
	height: 42px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 15px;
	position: relative;
}
.putcon .radiospan #codeNum{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	background-color: transparent;
}
.putcon .radiospan ul{
	display: flex;
	height: 42px
}
.putcon .radiospan ul li{
	flex: 1;
	border-right:1px solid #ccc ;
}
.putcon .radiospan ul li:last-child{
	border-right:none
}
.btnsend{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: #48AE72;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	margin: 20px auto 0;
	display: block;
	border: none;
	outline: none;
}
.putcon .radiospan ul li {
	font-size: 14px;
	font-weight: 700;
	color: #333;
	text-align: center;
	line-height: 42px;
}
.btnsend.bgcolor{
	background-color:#999 ;
}


/* 个人账号设置密码 */
.gbankcont,.botPassword{
	margin-top: 10px;
}
.topbox,.botPassword{
	background-color: #fff;
	padding: 0 15px;
}
.itemput{
	display: flex;
	height: 50px;
	line-height: 50px;
	position: relative;
	border-bottom: 1px solid #F7F7F7;
}

.itemput span{
	width: 85px;
	font-size: 16px;
}
.itemput input{
	flex: 1;
	border: none;
	outline: none;
	font-size:14px ;
	color: #333;
}
.itemput .codebtn{
	width: 80px;
	height: 30px;
	line-height: 30px;
	background-color: #48AE72;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	right: 0;
	top: 10px;
	border: none;
	font-size: 12px;
	z-index: 66;
}
.itemput .upinputs{
	flex: none;
	width: 180px;
}
.aggrement{
	padding: 15px;
	font-size: 12px;
	color: #999;
	display: flex;
	align-items: center;
}
.Login{
	padding: 15px;
}
.LoginBtn{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #48AE72;
	border-radius: 5px;
}
.LoginBtn.nocheched{
	background-color: rgba(72,174,114,0.5);
}
.aggrement{
	display: flex;
}
.aggrement .icon{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-right: 10px;
}
.aggrement .icon.checked{
	background: url(../../images/checked.png) no-repeat center;
	background-size: 18px 18px;
	width: 18px;
	height: 18px;
	border: none;

}
.aggrement p{
	flex: 1;
}
.aggrement a{
	color: #2680EB;
}
.itemput .codebtn.bgcolor{
	background-color:#999 ;
}
.topsss{
	font-size: 14px;
	color: #999;
	padding: 10px 15px 0;
}
.phoneTextbox{
	padding: 10px 15px;
	font-size: 13px;
	color: #999;
	display: none;
}
#mobile{
	padding: 10px 15px;
	color: #666;
}
.titlestext{
	font-size: 14px;
	color: #666;
	padding: 10px 0 0 15px;
}
.titlestext span{
	font-size: 12px;
	padding-left: 5px;
}